* {
  box-sizing: border-box;
  margin:0;
}

body{
  background: #313131;
  padding: 3rem;
}
#root{
  max-width: 70rem;
  margin: auto;
  border-radius: 10px;
}
.App {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.589);
}
.App>:first-child{
  background:  #ffffff33;
  color: rgb(54, 36, 94);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1.5rem;
}
.App>:first-child h4{
  color: rgb(102, 102, 102);
  font-weight: 600;
  text-align: center;
}
.App>:last-child{
  background: linear-gradient(135deg,rgba(29, 19, 49, 0.3)0%,rgb(29, 19, 49, .9)45% 55%,rgba(29, 19, 49, 0.35));
  color: aliceblue;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  padding: 1.5rem;
}
.xbtn{
  background: rgba(255, 255, 255, 0.281);
  border: none;
}





/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


