.location {
  display: flex;
  justify-content: space-between;
}

.location>:last-child {
  padding-top: 1rem;
}

.current {
  margin: 1rem 0rem;
  padding: 0 .5rem;
  font-size: 180%;
}

.degree {
  font-size: 35%;
  padding-bottom: 1.45rem;
}

.degree1 {
  font-size: 35%;
  padding-bottom: .5rem;
}

.description {
  margin-top: -.7rem;
}

.rain-chance {
  font-weight: 600;
  margin-bottom: .5rem;
}

.hour-container {
  display: flex;
  text-align: center;
}

.hour-container :first-child,
.hour-container :last-child {
  flex-grow: 1;
  flex-basis: 0;
  color: rgb(149, 156, 255);

}

.hour-container :nth-child(2) {
  display: flex;
  gap: 2vw;
  color: aliceblue;

}

.hour-container :nth-child(2)>h4 {
  display: inline;
}

.hour-container h4 {
  padding-top: .2rem;
}

.sunsets-container {
  display: grid;
  gap: .5rem;
  padding: 0 1rem;
}

.sunsets,
.six-hour-container {
  background: rgba(57, 51, 71, 0.35);
  border-radius: 5px;
  padding: .5rem 0rem;
  box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.589);

}

.sunsets>h4 {
  padding-left: 1rem;
  margin-bottom: .1rem;
}

.small {
  font-size: 60%;
}

.xsmall {
  font-size: 33%;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}