/* Dropdown Button */
.dropbtn {
  background: rgba(33, 21, 56, 0.705);
  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.589);
  border-radius: 5px;
  color: aliceblue;
  padding: .8rem;
  font-weight: bold;
  border: none;
  width: 100%;
  font-size: 100%;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.589);

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: -1.6rem;
  background-color: #2b2b2bb9;
  min-width: max-content;
  border-radius: 5px;
  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.589);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: aliceblue;
  border-radius: 5px;
  font-weight: bolder;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(57, 51, 71, 0.945);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn,
.user-content a:hover {
  background: rgba(57, 51, 71, 0.945);
}

.xbtn {
  background: rgba(255, 255, 255, 0.281);
  width: 2rem;
  border: none;
  cursor: pointer;
}

.xbtn:hover {
  background: rgba(57, 51, 71, 0.945);
  color: aliceblue
}

#add-link {
  text-align: center;
}









.userbtn {
  background-color: transparent;
  color: rgb(149, 156, 255);
  padding: .3rem;
  border: none;
}

.userbtn:hover,
.userbtn:focus {
  color: rgba(33, 21, 56, 0.705);
}

.userbtn-container {
  position: relative;
  display: inline-block;
}

.user-content {
  display: none;
  position: absolute;
  background-color: #2b2b2bb9;
  min-width: max-content;
  border-radius: 5px;
  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.589);
  z-index: 1;
}

.userbtn-container:focus-within .user-content {
  display: block;
}

/* Links inside the user */
.user-content a {
  color: aliceblue;
  border-radius: 5px;
  font-weight: bold;
  font-size: 100%;
  padding: .5rem;
  text-decoration: none;
  display: block;
}