.overview-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.overviews{
  background: rgba(210, 213, 255, 0.425);
  border-radius: 5px;
  padding: .5rem 1rem ;
}
.flex{
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
}
/* .flex > * {
  display: inline;
} */


